maxElement.class
minElement.class
binarySearch.class
rotation.class
bar.class
firstOcc.class
lastOcc.class
kadanesAlgo.class
doublet.class
iIntoArrOfI.class
ceilFloor.class
triplet.class
subset.class
subsetOfArray.class